<div class="calculator">
  <div class="display">{{ currentInput }}</div>
  <div class="buttons">
    <button class="clear" (click)="clearDisplay()">C</button>
    <button class="operator" (click)="setOperation('/')">/</button>
    <button class="operator" (click)="setOperation('*')">*</button>
    <button class="operator" (click)="setOperation('-')">-</button>
    <button class="number" (click)="appendToDisplay('7')">7</button>
    <button class="number" (click)="appendToDisplay('8')">8</button>
    <button class="number" (click)="appendToDisplay('9')">9</button>
    <button class="operator" (click)="setOperation('+')">+</button>
    <button class="number" (click)="appendToDisplay('4')">4</button>
    <button class="number" (click)="appendToDisplay('5')">5</button>
    <button class="number" (click)="appendToDisplay('6')">6</button>
    <button class="number" (click)="appendToDisplay('1')">1</button>
    <button class="number" (click)="appendToDisplay('2')">2</button>
    <button class="number" (click)="appendToDisplay('3')">3</button>
    <button class="equals" (click)="calculate()">=</button>
    <button class="number" (click)="appendToDisplay('0')">0</button>
    <button class="number" (click)="appendToDisplay('.')">.</button>
  </div>
</div>

