.container{
    display: flex;
    margin: 50px;
}

.avion{
    flex: 1;
    justify-content: center;
    text-align: center;
    border: 1px;
    border-color: black;
}

#blanco{
    background-color: white;
}

#azul{
    background-color: blue;
}

#amarillo{
    background-color: yellow;
}